<% include header %>
<main>
    <header>
      <h1> 06 - SAIKUMAR NALIVELA </h1>
    </header>
    <article>
    <section id = "past-section">
          <h3 class = "section-header"><u>PRESENT :</u><img src="images/today.jpeg" alt="Smiley face" width="150" height="50"></h3><h4>I have joined school of computer science and information systems - Northwest for this fall 2018 and working on Applied Computer Science. I have done my undergraduation in the stream of computer science from Kakatiya Institute of Technolgy and Sciences- Warangal in the year 2016.</h4>
    <h3 class = "section-header"><u>HISTORY :</u><img src="images/history.png" alt="Smiley face" width="150" height="50"></h3>
    <h4> I have worked in TCS for 2 years as Python Automation Engineer and automated stuffs in Networks. I am very much interested in Data Science and thats the reason i am here.</h4>
    </section>
    <section class = "aside-header">
    <aside>
         <div class="sideImage" >
           <img src="images/myimage.jpg" alt="mimage" class="rounded-circle">
         </div>
    </aside>
    </section>
    <section id = "future-section">
    <h3 class = "section-header"><u>FURTURE PLANS :</u><img src="images/Future.jpg" alt="Smiley face" width="150" height="50"></h3>
    <h4>My dream job is to work in the field of Data Science and in the company like Netflix.</h4>
    </section>
    <section class = "hobbies-header">
    <h3 class = "section-header"><u>HOBBIES :</u><img src="images/hobby.jpg" alt="Smiley face" width="150" height="50"></h3>
    <h4 id = "Hobbyy">My hobbies include watching TV series, listening to songs, reading short stories.</h4>
    </section>
    <section id="schedule-header">
    <h3 class = "section-header"><u>SCHEDULE :</u><img src="images/schedule2.png" alt="Smiley face" width="150" height="50"></h3>
    <table>
     
          <tr>
              <th>CLASS &nbsp; &nbsp;  </th>
              <th>MONDAY  &nbsp;&nbsp; </th>
              <th>TUESDAY &nbsp; &nbsp;</th>
              <th>WEDNESDAY&nbsp;&nbsp;</th>
              <th>THURDAY  &nbsp;&nbsp;</th> 
              <th>FRIDAY  &nbsp;&nbsp; </th>
          </tr>
          <tr>
              <td>WEB APP</td>
              <td>11 - 11:50</td>
              <td>NO</td>
              <td>11 - 11:50</td>
              <td>NO</td>
              <td>11 - 11:50</td>
          </tr>
           
          <tr>
              <td>AVD DATABASE</td>
              <td>1 - 1:50</td>
              <td>NO</td>
              <td>1 - 1:50</td>
              <td>NO</td>
              <td>1 - 1:50</td>
           </tr>
           <tr>
              <td>JAVA</td>
              <td>NO</td>
              <td>8 - 9 : 15</td>
              <td>NO</td>
              <td>8 - 9 : 15</td>
              <td>NO</td>
           </tr>
           
        </table>
        </section>
        </article>
        </main>
        <iframe width="660" height="400" src="https://www.youtube.com/embed/mgjnW7Q42Tc" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="660" height="400" src="https://www.youtube.com/embed/z32VQgObAr4" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% include footer %>